process {
    withName:fill_config_template {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='8GB'
        time='1h'
        container = "${params.image_folder}rnaseq.python-3.8-1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }

    withName:sajr {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        memory='60GB'
        time='4h'
        container="${params.image_folder}sajr-1.0.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }

    withName: sajr_diff_splicing {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='60GB'
        time='4h'
        container="${params.image_folder}sajr-1.0.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
}